body {
    background-color: #f1f8f6;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.logo img {
    width: 100px;
    margin-bottom: 20px;
}

h1 {
    color: #006241;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #2e2e2e;
    text-align: left;
}

input, textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

input[type="submit"] {
    background-color: #006241;
    color: white;
    cursor: pointer;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #004d33;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    margin: 0 10px;
    text-decoration: none;
    color: #006241;
    font-size: 24px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #004d33;
}

.contact-info {
    margin-top: 20px;
    color: #2e2e2e;
    font-size: 14px;
}

.contact-info p {
    margin: 5px 0;
}
